@import '../../styles/typography';

.header {
  // display: flex;
  // flex-direction: column;
  min-height: 655px;
  height: 100vh;
  color: white;
  background-image: url('/images/bgi.svg');
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 1281px) {
    // width: 100Vw;
  }

  &__logo {
    height: 72px;
    width: 100%;
    padding: 24px 0 0 130px;
    margin: 0 auto;
  }

  &__content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
  }

  &__info {
    width: 716px;
    max-width: 716px;
    padding-left: 130px;
    margin-top: 48px;
    // margin-right: 220px;
  }

  &__title {
    max-width: 586px;
    margin-bottom: 24px;
    @extend %title-h1;

  }

  &__text {
    max-width: 580px;
    margin-bottom: 32px;
    @extend %text-bigger;
  }

  &__phone {
    width: 300px;
    position: absolute;
    top: 72px;
    right: 200px;

    @media screen and (max-width: 1281px) {
      position: relative;
      top: 0;
      right: 0;
    }

    &-img {
      width: 100%;
    }
  }
}
