%title-h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

%title-h2 {
  font-size: 40px;
  line-height: 49px;
  // color: $color-text-dark;
}

%title-h3 {
  // font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

// %title-h3-lower {
//   font-family: $font-family-title;
//   font-size: 32px;
//   font-weight: 600;
//   line-height: 1.3;
// }

%title-h4 {
  font-size: 24px;
  line-height: 29px;
  // color: $color-text-dark;
}

// %title-h6-whide {
//   letter-spacing: 3px;
// }

// %title-h6 {
//   font-family: $font-family-title;
//   font-size: 13px;
//   line-height: 19px;
//   text-transform: uppercase;
// }

// %text-img {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.4;
// }

// %text-btn {
//   font-family: $font-family-title;
//   font-weight: 600;
//   font-size: 15px;
//   line-height: 22px;
//   text-align: center;
// }

// %text-huge {
//   font-size: 24px;
//   line-height: 1.5;
// }

%text-bigger {
  font-size: 20px;
  line-height: 1.42;
}

%text {
  // font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  text-align: center;
  // color: $color-text-dark;
}

// %text-small {
//   font-size: 13px;
//   line-height: 1.5;
// }
