$color-primary: #3a80ba;
$color-primary-dark: #255d8c;
$color-primary-darken: #1c3b55;
$color-black: #000;
$color-white: #fff;
$color-light-grey: #e5e5e5;

$color-text-black: #1a1a1a;
$color-text-grey: #7e7e7e;
$color-text-nav: #ccc;
$color-text-light-grey: #b9b9b9;

$color-table-lighter: #FbFbFb;
$color-table-darker: #f1f1f1;

$font-family: "Montseerrat", "Open Sans", sans-serif;
